body {
    background-color: #352e2e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1  {
    color: #ffffff;
    font-size: 2.5em;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #850505;
}